# ================================================================================
# .gitconfig
# ================================================================================


[user]
	name  = Neos21
	email = neos21@gmail.com
[color]
	ui = auto
[core]
	autoCRLF = false
	fscache = true
	preloadindex = true
	quotepath = false
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gc]
	auto = 256
[log]
	date = iso-local
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = current


# --------------------------------------------------------------------------------
# Customize
# --------------------------------------------------------------------------------


# --------------------------------------------------------------------------------
