# ================================================================================
# .gitconfig
# ================================================================================


[user]
	name = Neos21
	email = neos21@gmail.com
[alias]
	ad  = add
	b   = branch
	ba  = branch -a
	bd  = branch -D
	co  = checkout
	cob = checkout -b
	c   = commit
	ce  = commit --allow-empty
	cem = commit --allow-empty -m
	cm  = commit -m
	df  = diff
	dfc = diff --cached
	dfn = diff --name-only
	fe  = fetch
	l   = log -10 --date=short --pretty=format:\"%C(Yellow)%h %C(Cyan)%cd %C(Reset)%s %C(Blue)[%cn]%C(Red)%d\"
	lf  = log --pretty=fuller
	log = log
	lr  = log -10 --date=short --pretty=format:\"%C(Yellow)%h %C(Cyan)%cd %C(Reset)%s %C(Blue)[%cn]%C(Red)%d\" --graph
	m   = merge
	pl  = pull
	ps  = push
	st  = status
	s   = status -s -b
[color]
	ui = auto
[core]
	autoCRLF = false
	quotepath = false
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	ff = false
[push]
	default = simple


# --------------------------------------------------------------------------------
