# ================================================================================
# .npmrc
# ================================================================================


# npm v8 系あたりから Warning が出るようになったので
# その場合はコメントアウトしてある項目の方を利用する

init.author.name=Neo
init.author.email=neos21@gmail.com
init.author.url=https://neos21.net/
#init-author-name=Neo
#init-author-email=neos21@gmail.com
#init-author-url=https://neos21.net/
init.license=MIT
#init-license=MIT
also=dev
#include=dev
package-lock=false
optional=false
#omit=optional
save-exact=true
save-prefix=


# --------------------------------------------------------------------------------
