/** Stylish 拡張機能 (Chrome・Firefox 向け) */

/* Bolder Weight For Windows Chrome */
* {
  -webkit-text-stroke-width: .4px !important;
}

/* Don't Skip Underline */
html {
  text-decoration-skip-ink: none !important;
}

/* Monospaced Fonts */
input, button, select, textarea, pre, code, kbd, samp, var, tt,
.highlight, .highlight * /* GitHub */ {
  font-family: MeiryoKe_Gothic, "Ricty Diminished", monospace !important;
  -webkit-text-stroke-width: .15px !important;  /* For Windows Chrome */
}
